<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Contact Prof Hitchman
      </div>
      <div class="panel-body">
        <address>
          Office: 327 Wright Hall<br>
          Phone: 319-273-2646<br>
          email: <a href="mailto:theron.hitchman@uni.edu">theron.hitchman@uni.edu</a>
        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        Course Information
      </div>
      <div class="panel-body">
        <dl class="dl">
          <dt>Class Meetings:</dt>
          <dd>TTh  12:30-1:45pm in WRT 09</dd>
        </dl>
        <dl class="dl">
          <dt>Office Hours:</dt>
          <dd>MWF 2-3, in WRT 327<br />or by appointment</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
